[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

.vscode/
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.suo
*.tmp
*.booproj

.DS_Store
Thumbs.db

.idea/
.cache/
.collab/

# Keep these tracked
!Assets/
!Packages/
!ProjectSettings/
